fvcore==0.1.5.post20221221
heat==1.7.0
matplotlib==3.10.8
mmengine==0.10.7
mmpretrain==1.2.0
numpy==2.4.3
Pillow==12.1.1
PyYAML==6.0.3
scikit_learn==1.8.0
selective_scan==0.0.2 # installed from https://github.com/MzeroMiko/VMamba
termcolor==3.3.0
timm==0.4.12
torch==2.6.0+cu124
torchvision==0.21.0+cu124
transformers==5.2.0
triton==3.2.0
yacs==0.1.8
